@model MvcPlay.Models.Invoice

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>




            <div class="row">

            <div class="form-group col-md-6" >
                <label asp-for="InvoiceNo" class="control-label"></label>
                <input asp-for="InvoiceNo" class="form-control" />
                <span asp-validation-for="InvoiceNo" class="text-danger"></span>
            </div>
             

            <div class="form-group col-md-6">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceDate" class="text-danger"></span>
            </div>
            </div> 



<br > 
<br >

               <div class="input-group">
  <div class="form-control">
    <span class="input-group-text" id="">Item </span>
  </div>
<div class="form-control">
    <span class="input-group-text" id="">Unit</span>
  </div>
  <div class="form-control">
    <span class="input-group-text" id="">Price</span>
  </div>
  <div class="form-control">
    <span class="input-group-text" id="">Qty</span>
  </div>
  <div class="form-control">
    <span class="input-group-text" id="">Total </span>
  </div>
  <div class="form-control">
    <span class="input-group-text" id="">Discount </span>
  </div>
  <div class="form-control">
    <span class="input-group-text" id="">Net  </span>
  </div>


</div>

<br>
<div class="input-group">

    <select id="input" class="form-control">
        <option selected>Choose...</option>
        <option>..1.</option>
        <option>..2.</option>
        <option>..3.</option>
        <option>..5.</option>
    </select>

    <select id="input2" class="form-control">
        <option selected>Choose...</option>
        <option>..1.</option>
        <option>..2.</option>
        <option>..3.</option>
        <option>..5.</option>
    </select>

  <input type="text" class="form-control">
  <input type="text" class="form-control">
  <input type="text" class="form-control">
  <input type="text" class="form-control">
  <input type="text" class="form-control">
</div>


<div class="input-group">

  <select id="input" class="form-control">
        <option selected>Choose...</option>
        <option>..1.</option>
        <option>..2.</option>
        <option>..3.</option>
        <option>..5.</option>
    </select>

    <select id="input2" class="form-control">
        <option selected>Choose...</option>
        <option>..1.</option>
        <option>..2.</option>
        <option>..3.</option>
        <option>..5.</option>
    </select>


  <input type="text" class="form-control">
  <input type="text" class="form-control">
  <input type="text" class="form-control">
  <input type="text" class="form-control">
  <input type="text" class="form-control">
</div>

<div class="input-group">

  <select id="input" class="form-control">
        <option selected>Choose...</option>
        <option>..1.</option>
        <option>..2.</option>
        <option>..3.</option>
        <option>..5.</option>
    </select>

    <select id="input2" class="form-control">
        <option selected>Choose...</option>
        <option>..1.</option>
        <option>..2.</option>
        <option>..3.</option>
        <option>..5.</option>
    </select>


  <input type="text" class="form-control">
  <input type="text" class="form-control">
  <input type="text" class="form-control">
  <input type="text" class="form-control">
  <input type="text" class="form-control">
</div>

<div class="input-group">
  
  <select id="input" class="form-control">
        <option selected>Choose...</option>
        <option>..1.</option>
        <option>..2.</option>
        <option>..3.</option>
        <option>..5.</option>
    </select>

    <select id="input2" class="form-control">
        <option selected>Choose...</option>
        <option>..1.</option>
        <option>..2.</option>
        <option>..3.</option>
        <option>..5.</option>
    </select>

  <input type="text" class="form-control">
  <input type="text" class="form-control">
  <input type="text" class="form-control">
  <input type="text" class="form-control">
  <input type="text" class="form-control">
</div>



<br > 
<br >
<div class="row">

            <div class="form-group col-md-4 ">
                <label asp-for="InvoiceStore" class="  control-label"></label>
                
                <select asp-for="InvoiceStore" class="  form-control">
                    <option selected>Choose...</option>
                    <option>InvoiceStore.1</option>
                    <option>InvoiceStore.2</option>
                    <option>InvoiceStore.3</option>
                    <option>InvoiceStore.4</option>
                </select>

                <span asp-validation-for="InvoiceStore" class="text-danger"></span>
            </div>




         <div class="form-group col-md-4  ">
               
            </div>

            <div class="form-group col-md-4  ">
                <label asp-for="InvoiceTotale"  class="control-label"></label>
                <input asp-for="InvoiceTotale"  type="text" id="Total"  class="form-control" />
                <span asp-validation-for="InvoiceTotale" class="text-danger"></span>
            </div>


            <div class="form-group col-md-8  ">
               
            </div>

            <div class="form-group col-md-4 ">
                <label asp-for="InvoiceTaxes" class="control-label"></label>
                <input asp-for="InvoiceTaxes" type="text"  id= "Taxes" class="form-control" />
                <span asp-validation-for="InvoiceTaxes" class="text-danger"></span>
            </div>


<div class="form-group col-md-10  ">
               
            </div>

    <div class="form-group col-md-2 ">
                <input type="button"  value="Add"   onclick="addNet()"  class="btn btn-primary" />
            </div>
           
<div class="form-group col-md-8  ">
               
            </div>

            <div class="form-group col-md-4 ">
                <label asp-for="InvoiceNet" class="control-label"></label>
                <input asp-for="InvoiceNet" type="text" id="result" class="form-control" />
                <span asp-validation-for="InvoiceNet" class="text-danger"></span>
            </div>


<div class="form-group col-md-4  ">
               
            </div>
        

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

<div class="form-group col-md-2  ">
               
            </div>
        
            <div>
    <a asp-action="Index"> <input  class="btn btn-primary" type="button" value ="Cancel" > </a>
</div>


</div>
        </form>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




<script type="text/javascript">
function addNet(){
    var num1 =  document.getElementById('Total').value;
    var num2 =  document.getElementById('Taxes').value;
    

    var sum = parseInt(num1) + parseInt(num2);
    document.getElementById('result').value = sum;
    console.log(sum);
}
</script>